html, body {
    overflow-x: hidden;
}

.parallax-bg {
    min-height: 65vh;
    position:relative;
    background-attachment:fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-1 {
    background-image: url("../projektet/bk-center-images/bk-center-background.jpg");
}

.parallax-2 {
    background-image: url("../projektet/ndertesat-para-ptk-images/ndertesa-para-ptk-background.jpg");
}

.parallax-3 {
    background-image: url("../projektet/objekti-kolektiv-bob-images/objekti-kolektiv-bob-background.jpg");
}

.parallax-4 {
    background-image: url("../projektet/objekti-kolektiv-qarshia-images/objekti-kolektiv-qarshia-background.jpg");
}

.parallax-5 {
    background-image: url("../projektet/lokali-afer-prishtina-mall-images/lokali-afer-prishtina-mall-background.jpg");
}

.parallax-6 {
    background-image: url("../projektet/objektet-kolektive-rruga-skenderbeu-images/objektet-kolektive-rruga-skenderbeu-background.jpg");
}

.project-bg-center {
    background-position: center !important;
}

.project-content {
    padding: 2rem 0;
    font-family: 'Open Sans', sans-serif;
}

.project-content h1 {
    padding-bottom: 1rem;
}

.gallery {
    margin: 1rem 0 3rem;
}

.row {
    margin-bottom: 0 !important;
}

.row .col {
    padding: 0 .1rem !important;
}

.table {
    padding-bottom: 2rem;
}

/* .s-big {
    width: 650px;
} */

.bigger {
    width: 450px;
}

@media(max-width: 1200px) {
    .parallax-bg {
        background-attachment: scroll;
    }
}

@media(max-width: 600px) {
    .project h1 {
        font-size: 3.5rem;
    }
 }